<div class="more-wrap">
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_03.jpg" alt="">
            <h6>齊藤 敬太（さいとう けいた）さん</h6>
            <p class="des_01">札幌市</p>
            <p class="des_02">
                BURSTLIMIT代表<br>
                2016・2017ベンチプレス世界チャンピオン（66kg級） / 2020日本２位（74kg級）BURSTLIMIT（バーストリミット）ジム代表として、後進の指導にもあたっている。
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>回復力の向上を感じ、いつも以上の練習量を実現させてくれました</h5>
            <p>
                僕は日頃から体の体温が低く、そのため睡眠の質の悪さ・回復力の悪さを体感していました。<br>
                アスリートにとって睡眠や回復は競技レベルを上げることにとても重要な要素だと考えております。<br>
                そこで今回『コロバニィウェア』を着用してまず驚いたのが、着用してすぐに体がぽかぽかと温まる感覚があり、肩の力がスッと抜けすごくリラックスが出来た事です。<br>
                早速着用したまま睡眠をとった結果、いつも以上に朝の目覚めがすっきりと良く、最初はなんだかいつもより疲れが取れているかも、という程度でした。５日ほど経つと、回復力の向上が自分の体感で明確に感じ、いつも以上の練習量を実現させてくれました。<br>
                競技の特性上、着用したまま練習は行いませんがストレッチ中や練習後のクールダウン中などにすごく効果を感じ着用させて頂いております。<br>
                「洗濯を繰り返しても消臭機能が失われず半永久的な消臭能力」と聞いていた通り、何度洗濯しても変に匂うことなどもせず、快適に着用することが可能です！
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_04.jpg" alt="">
            <h6>瀬戸 烈（せと たけし）さん</h6>
            <p class="des_01">神戸市</p>
            <p class="des_02">
                ビストロ・レクレ・神戸　代表
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>身体の冷えが解消され、寝付きもよく目覚めもすっきりしました</h5>
            <p>
                待望のコロバニィウェアを試してみて<br>
                 手首、足首に巻くだけで血流が良くなり冷え性が解消されたコロバニィリストバンドの効果を実感しながら感じていたことがいよいよ実現されました。それがこのコロバニィウェアです。<br>
                自分の場合はまず血流の良さを感じます。血流が良くなることで身体の冷えが解消されました。この冬は背中に貼るカイロが必需品でしたが、必要なくなりました。血流が良くなることで手先の冷え性が取れ身体も動きやすくなりました。身体が動きやすくなると筋肉が柔らかくなる気がします。<br>
                今回は就寝時にも利用してみました。血流が良くなることでポカポカした感覚で寝付きもよく、目覚めもすっきり、睡眠アプリを使ってみてもより深い眠りについていることがわかりました。<br>
                何より着心地と肌触りもよく伸縮性もあって心地よいフィット感です。アスリートではないのでうまくは伝えられませんが、仕事中も身体が軽く感じる事でお客様との会話も弾みます。もう手放せませんね。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_05.jpg" alt="">
            <h6>若林 順子（わかばやし じゅんこ）さん</h6>
            <p class="des_01">大阪府守口市</p>
            <p class="des_02">
                ラジオパーソナリティ<br>
                KBS 京都ラジオ「Let‘s Run!」担当　ランニングチーム「わかちゃんFRC」主宰<br>
                ランニング練習会や大会・イベントなどを主催
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>年中通して、私の強い味方になりました</h5>
            <p>
                ランニング時、体幹が安定していることはきれいなフォーム(無駄のないフォーム)のためにも、故障予防のためにも必須条件。<br>
                コロバニィリストバンドを腕に着用するだけで体幹が安定することは実感していました。それがウエアになったということで楽しみにしていました。<br>
                ちょうど、寒さ、冷えからくる坐骨神経痛が勃発したときに、送られてきました。<br>
                早速、着用。すぐに背中がふわっと暖かくなったのを実感しました。坐骨神経痛がすぐに改善されたわけではありませんが、確実に回復に向かっていると思いました。それ以降、睡眠時だけでなく、日中も着用するようにしました。<br>
                コロバニィ T シャツの特徴として、リカバリー時だけでなく、運動時も着用できるのが嬉しいです。ウォーミングアップ時も、ランニングウエアの下に着ることにより体が温まるのが早いです。また、ジャストサイズにしましたので、肌に感じる体感もいいです。冬はもちろん、年中通して、私の強い味方になりました。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_06.jpg" alt="">
            <h6>平田 洸介（ひらた こうすけ）さん</h6>
            <p class="des_01">北海道北見市</p>
            <p class="des_02">
                北海道北見市出身の日本のカーリング選手。KiT CURLING CLUB所属。2018年平昌オリンピックカーリング競技男子日本代表。
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>競技で活用することで、バランスが向上し、フォームが安定していることが実感できます</h5>
            <p>
                日頃からコロバニィのリストバンド及びウエアを活用しております。<br>
                カーリング競技は、デリバリーという特徴的な投球動作があり、体幹の強さが非常に重要なスポーツです。<br>
                リストバンドを付けることで、バランスが向上し、フォームが安定していることが実感できます。<br>
                また、日頃の氷上トレーニングでらウエアを着用しておりますが、寒い中でも身体が温まり、練習効率が向上していることを感じました。<br>
                トレーニング前後でもリストバンド、ウエアを使うことで、日々のハードトレーニングでも疲れを感じません。今後も競技力向上にたくさん使用していきます！
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_07.jpg" alt="">
            <h6>若林 さを理（わかばやし さをり）さん</h6>
            <p class="des_01">長野県</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>深い質の良い睡眠がとれたと感じています</h5>
            <p>
                コロバニィTを始めて袖を通してすぐに背中に温かさを感じました。<br>
                嘘でしょ？思い込み？と思い何も言わず主人にも着用してもらったら何か温かい！と言いました。<br>
                私たちは冬の寒いゲレンデに1日中いることが多いので、この暖かさは本当にありがたいです。<br>
                体幹が安定するとのことでバランスが重要とされるスノーボード競技の際に使用することは安心材料の一つになりますし、コンディショニングケアも同時に行えるのはとても嬉しいです。<br>
                又、就寝時にも着用してみましたがなんと目覚ましが聞こえず寝坊してしまいました。<br>
                普段、寝坊はあり得ないので深い質の良い睡眠がとれたのかなと思います。<br>
                良くあるタイトめなコンプレッションTとは違い窮屈感がないのがとても気に入りました。<br>
                超消臭機能があるとのことですが確かに主人が一日中着用した後も匂いはありませんでした（笑）　　　　　　　　　　P.S　今回はTシャツでしたが、なるべく肌に近いところで着用したいの思うのでロングＴがあれば尚嬉しいです。シャツの質感はとても着心地がよくて良いと思います。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_08.jpg" alt="">
            <h6>水野 里香（みずの りか）さん</h6>
            <p class="des_01">大阪府堺市</p>
            <p class="des_02">
                ベルポーズ代表　ウォーキングインストラクター
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>朝一番のレッスンでもすぐ身体があたたかくなってくるのを感じました</h5>
            <p>
                ウォーキングレッスンを行うスタジオは、かなり天井も高く広いので、冬場はかなり冷えるのですが、コロバニィウェアを着ていると、朝一番のレッスンでもすぐ身体があたたかくなってくるのを感じました。<br>
                 今シニア以降の方がたくさんレッスンに来てくださっているのですが、代謝が悪く、汗もかかないといった方が多いので、そういう方にもかなり効果的なのではないかと思います。<br>
                私自身はストレッチなどの大きな動きをする時に、特に動きやすさを感じました。<br>
                肌触りもよく、冬でもすぐ乾くのも嬉しいです。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_09.jpg" alt="">
            <h6>岸下 美月（きしした みつき）さん</h6>
            <p class="des_01">兵庫県赤穂市</p>
            <p class="des_02">
                関西福祉大学　陸上競技部
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>コロバニィを着ると、回復が早く感じます</h5>
            <p>
                私は中学生の時から陸上をやっていて、大学までずっと走り幅跳びと短距離を専攻しています。<br>
                大学に入って、今までよりもハードな筋トレをするようになり、身体もかなり大きくなりました。<br>
                ウェイトトレーニングはかなり疲れるのですが、コロバニィを着ると、回復が早いような気がします。<br>
                あと消臭機能は女子選手にとってはとてもありがたいです。<br>
                特に夏は汗のにおいが気になるのですが、練習でかなり汗をかいてもにおいが気にならないので、今年の夏はとても楽しみです。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <h6>60代女性</h6>
            <p class="des_01">兵庫県</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>睡眠に入りやすくなり朝までよく眠れます</h5>
            <p>
                ジンワリと温まり血流が促進されたようで睡眠に入りやすくなり朝までよく眠れます。<br>
                身体のリカバリー効果はあると思います。消臭については冬場のウオーキングなので消臭されていると思いますが、もっと汗をかく春夏場ならより消臭を感じることが出来ると思います。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <h6>50代女性</h6>
            <p class="des_01">広島市</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>最初は半信半疑でしたが、脚の疲れが少なくなりランニングが快適に感じています</h5>
            <p>
                40代になってからその頃流行り始めたランニングを仲間としています。<br>
                最初は鮮やかなオシャレウェアを着てファッションを楽しむことも動機の一つで。<br>
                その後約10年楽しいファンランナーだったのですが加齢と共に最近膝が痛かったり、脚がつったりとコンディションの悪い日もあり…<br>
                そんな時に勧められたコロバニィ。<br>
                最初は半信半疑でしたが着用して寝ると次の日の目覚めが良いことが多く、脚の疲れも少なく、ランニングが快適に感じます。<br>
                それから近眼だったのですが視力が回復しているのを感じています。これにはほんとにビックリです。<br>
                コロバニィ日誌！<br>
                着用初日　初めて着用して就寝　寒くない　身体があったまっている？でも膝は痛い<br>
                3日目　8時間寝て気分爽快　膝の痛みが消えるミラクル　でもランニングしたらやはり膝に多少違和感<br>
                4日目 ランニング、膝に違和感<br>
                6日目ぐっすり寝過ぎて寝坊　7日目 ぐっすり寝過ぎか？寝坊<br>
                8日目またまたぐっすり寝てしまう。夜にランニングしたが不思議なことに膝が全く痛くない。<br>
                9日目またぐっすり寝る　今日は12キロも走れた　　膝は5キロあたりから少し響いたが走れる痛くない　身体の調子はとても良い　昼寝もなくて大丈夫だった
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <h6>50代男性</h6>
            <p class="des_01">京都府</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>夜中ほとんど起きることが無くなり、いい睡眠がとれたことが実感できています</h5>
            <p>
                寒いところにいるとわかりませんが、温かいところにいるとポカポカするのがわかります。列車で座っていると気持ちよくて寝入ってしまいました。夜中何度も目が覚めていたのですが、これを着用して眠り始めてから夜中ほとんど起きることが無くなりました。起きるときちんと熟睡した感覚が残りますのでいい睡眠がとれたことが実感できます。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <h6>40代男性</h6>
            <p class="des_01">奈良県</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>1週間過ぎるとコリが気にならなくなっていました</h5>
            <p>
                肩こりがひどく辛いので試してみました。着用して1日2日では特に変化が無いと思いましたけれど、1週間ぐらい過ぎるとなんかコリが気にならなくなっていました。ゆっくりじっくりと効いているのかなと思いました。ポカポカも暑くなるとか嫌な感じではなくて、何となく温まっているというか感じで心地よいです。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <h6>30代男性</h6>
            <p class="des_01">大阪府</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>一度実感すると手放せません</h5>
            <p>
                寝るときもずっと着用します！<br>
                1日目　何も感じず。特に変化を感じません<br>
                2日目　腰痛時股関節周りの筋肉が動きにくいのですが、少し股関節周り可動域が増えた自覚あり、痛みは少しにへり、ツッパっている感覚に変化<br>
                3日目　腰痛がなく！？ツッパリ感もない！？。。かなり歩きやすくなりました。今までの数々の努力は何だったんだろうと。。。<br>
                4日目　完全に腰のつっぱりもなくなりました。今度は肩甲骨の可動域が増えてきた自覚が出てきました。すぐに実感はなく気がつけばあれれ？という効果です。私も頚椎狭窄症なので鍼灸や整体やカイロ、ピラティス、民間療法など、本当に色々試してきましたが、この商品が広まれば喜ばれる人がたくさん増えると思います！一度実感すると手放せません。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_10.jpg" alt="">
            <h6>加嶋 翼（かしま つばさ）さん</h6>
            <p class="des_01">京都市</p>
            <p class="des_02">
                中学3年生　全国中学校陸上3000m　3位、<br>
                全国中学校駅伝　優勝
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>以前より自然に寝られるようになりました</h5>
            <p>
                届けて頂いてすぐに袖を通したのですが肌触りが良くそのまま部屋着の様に着ています。 <br>
                暑いとまでは行かないほんのり感じる温かさで気持ちよくリラックス出来ているようで以前より自然に寝られるようになりました。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_11.jpg" alt="">
            <h6>加嶋 響（かしま ひびき）さん</h6>
            <p class="des_01">京都市</p>
            <p class="des_02">
                中学一年生 近畿中学校陸上1500m　4位、<br>
                近畿中学校駅伝　優勝 
            </p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5> 筋肉が硬くなる事がありましたが、気にする事なく練習出来ています</h5>
            <p>
                ポイント練習や補強トレーニングの翌日は筋肉が硬くなる事がありましたが、 今は気にする事なく練習に入る事が出来ているのもコロバニィの効果かな。 運動中も着られるのでジョグの時も試してみようと思います
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <img src="./assets/img/top/about_12.jpg" alt="">
            <h6>河野 賢一郎（こうの けんいちろう）さん</h6>
            <p class="des_01">埼玉県</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5> 元々ある肩こりが、だいぶ軽くなっています</h5>
            <p>
                着用させていただた日から体がポカポカと温まり、睡眠もちょうどいい温かさですね！寝付きが良く朝は目覚めが良い様に思えます。元々肩こりがあるのですが、だいぶ軽くなっていますね。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <h6>40代男性</h6>
            <p class="des_01">埼玉県</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>1枚だけで温かく、ぐっすり眠れるようになりました</h5>
            <p>
                毎日寝る時に着させていただいています！<br>
                3日程着たまま寝て１日だけ試しに着用せず寝ました。<br>
                次の日身体が重く、特に肩、首回りが凄く痛くて1日不調でした。<br>
                帰宅後すぐにコロバニィウェアを着用し、そのまま寝ましたがまた回復！<br>
                普段はモコモコの分厚いナイトウェアでも寒くて眠れないのがこれを着て寝る時は半袖なのに1枚だけで温かくぐっすり眠れるようになりました。
            </p>
        </div>
    </div>
    <div class="more-wrap__inner">
        <div class="more-wrap__inner_img">
            <h6>10代男性</h6>
            <p class="des_01">埼玉県</p>
            <p class="des_02">格闘家</p>
        </div>
        <div class="more-wrap__inner_txt">
            <h5>毎日絞る程の汗をかきますが、匂いもなく快適に着られています</h5>
            <p>
                毎日のトレーニングで絞る程の汗をかきます。<br>
                身体のメンテナンスでサウナも良く利用しますが汗をかいても匂いは無く、どちらかと言うと潔癖なので、洗わないものを着るのが嫌なのですが、モノは試しに…<br>
                匂いもなく快適に着られています。<br>
                体幹重視なので元々体幹はしっかり安定している方ですがシャドウしていても楽に動けるような気がします。
            </p>
        </div>
    </div>
</div>