<div class="cnt-in-center">
    <a href="./">
        <img class="footer_logo" src="./assets/img/common/footer_logo.svg" alt="">
    </a>
    <div class="footer-wrap">
        <ul class="footer-wrap__menu">
            <li class="under-hover white">
                <a href="./recovery.html">コロバニィⓇリカバリー</a>
            </li>
            <li class="under-hover white">
                <a href="./active.html">コロバニィⓇアクティブ</a>
            </li>
            <li class="under-hover white">
                <a href="./shop.html">取扱店一覧</a>
            </li>
            <li class="under-hover white">
                <a href="./company.html">会社概要</a>
            </li>
            <li class="under-hover white">
                <a href="./contact.html">お問い合わせ</a>
            </li>
            <li class="under-hover white">
                <a class="with-icon" href="https://alles-inc.com/">運営会社</a>
            </li>
        </ul>
        <p class="cpr_txt">©︎ alles Inc</p>
    </div>
</div>