.contact-wrap{
    background: url(../img/contact/contact_pc.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    height: 530px;
    padding: 105px 0;
    @include media-sp{
        background: url(../img/contact/contact_sp.jpg) no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 700px;
        padding: 0;
        text-align: center;
    }
    .cnt-in-center{
        height: 100%;
        display: flex;
        align-items: center;
        @include media-sp{
            display: block;
        }
    }
    &__inner{
        .__title{
            padding: 25px 0 58px 0;
            position: relative;
            z-index: 9;
            p.jp{
                font-size: 28px;
                color: white;
                font-weight: bold;
                @include media-sp{
                    font-size: 18px;
                }
            }
            p.en{
                font-size: 138px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 600;
                color: #F68D2E;
                position: absolute;
                top: -30px;
                left: 0;
                opacity: 0.5;
                z-index: -1;
                span{
                    opacity: 0.6;
                    color: white;
                }
                @include media-sp{
                    font-size: 70px;
                    top: 54px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            @include media-sp{
                padding: 83px 0 20px 0;
            }
        }
        .__content{
            display: flex;
            @include media-sp{
                display: block;
            }
            &__inner{
                max-width: 321px;
                height: 196px;
                padding: 30px 40px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                border: solid 1px white;
                @include media-pc-sm{
                    max-width: 280px;
                    height: 170px;
                    padding: 20px;
                }
                @include media-sp{
                    max-width: 100%;
                    width: 100%;
                    padding: 20px;
                    margin-top: 20px;
                    align-items: center;
                }
                h6{
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                    @include media-sp{
                        font-size: 15px;
                    }
                }
                h4{
                    font-size: 38px;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 600;
                    color: white;
                    @include media-sp{
                        font-size: 28px;
                    }
                }
                p{
                    font-size: 14px;
                    color: white;
                    line-height: 1.6;
                }
                &:first-child{
                    margin-right: 40px;
                    @include media-pc-sm{
                        margin-right: 30px;
                    }
                    @include media-sp{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}