.under-hover{
    position: relative;
    transition: all 0.3s ease;
    &::after{
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        background: $main-color;
        transition: all 0.3s ease;
    }
    &:hover::after{
        width: 100%;
    }
    &.white{
        &::after{
            background: white;
        }
    }
}