/* カラー */

$purple-color: #111B26;
$purple-l-color: #1A1F26;
$black-l-color: #404A58;
$white-l-color:#FCFDFF;


$main-color: $purple-color;

/* フォント */
$main-font: 'Noto Sans JP',"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');