<%_
  TITLE = 'お問い合わせ確認';
  IS_INDEX = true; 
  DESCRIPTION = '';
  KEYWORDS = '';
  ORIGINALCSS = 'other';
_%>
<%- include('../includes/_header') %>
<main id="other">
    <section class="cnt-in">
        <div class="breadcrumb">
            <a class="breadcrumb__inner" href="./">TOP</a>
            <a class="breadcrumb__inner" href="./contact.html">お問い合わせ</a>
            <p class="breadcrumb__inner">お問い合わせ内容の確認</p>
        </div>
    </section> 

    <section class="cnt-in-center">
        <div class="contact-confirm-wrap">
            <p class="summary">入力した内容をご確認いただき、送信してください。</p>
            <div class="fw-02">
                <div class="fw-02__inner">
                    <div class="fw-02__inner_first">
                        <p class="des_01 ">お問い合わせ内容</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">コロバニィⓇリカバリーについて</p>
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01 ">会社名・店舗名</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">テキストテキスト</p>
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01 ">ご担当者名</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">テキストテキスト</p>
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01 ">メールアドレス</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">テキストテキスト</p>
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01">御社HP</p>
                    </div>
                    <div class="fw-02__inner_second">
                        
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01 ">郵便番号</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">テキストテキスト</p>
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01">ご住所</p>
                    </div>
                    <div class="fw-02__inner_second">
                        
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01 ">電話番号</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">テキストテキスト</p>
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01">FAX番号</p>
                    </div>
                    <div class="fw-02__inner_second">
                        
                    </div>
                </div>
                <div class="fw-02__inner center">
                    <div class="fw-02__inner_first">
                        <p class="des_01">何をご覧になり当HPへ<br>来られましたか？</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">テキストテキスト</p>
                    </div>
                </div>
                <div class="fw-02__inner">
                    <div class="fw-02__inner_first">
                        <p class="des_01 ">ご相談内容</p>
                    </div>
                    <div class="fw-02__inner_second">
                        <p class="des_02">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <div>
                    <a href="./contact.html" class="btn-link back">戻る</a>
                </div>
                <div>
                    <a href="./contact_finish.html" class="btn-link">送信する</a>
                </div>
            </div>
            
        </div>
    </section>

    <%- include('../includes/_contact') %> 
</main>
<%- include('../includes/_footer'); %>