<%_
  TITLE = 'TOP';
  IS_INDEX = true; 
  DESCRIPTION = '';
  KEYWORDS = '';
  ORIGINALCSS = 'top';
_%>
<%- include('../includes/_header') %>
<main id="top">
    <section class="fv-wrap">
        <div>
          <p class="wow fadeInUp">生き生きとした暮らしや</p>
          <p class="wow fadeInUp" data-wow-delay="0.3s">健康に貢献することをコンセプトに</p>
          <p class="wow fadeInUp" data-wow-delay="0.6s">「コロバニィⓇ」は誕生しました。</p>
        </div>
    </section>

    <section class="concept-wrap">
      <div class="cnt-in-center">
          <div class="title-common__01 wow fadeInUp">
            <p class="en"><span>C</span>oncept</p>
            <p class="jp">コンセプト</p>
          </div>
          <div class="txt-wrap">
              <p class="txt-wrap__title wow fadeInUp">長い人生を<br>
                健康で幸せに<br>
                過ごしていくために
              </p>
              <div class="txt-wrap__content">
                <p class="des_01">
                  コロバニィⓇは、『リカバリー』と『アクティブ』のふたつのラインで構成されています。<br><br>

                『コロバニィⓇリカバリー』は、休養＆睡眠時に向けた健康ウェア＆アイテム、<br>
                『コロバニィⓇアクティブ』は運動時や活発に活動する時に向けたウェア＆アイテムです。<br><br>

                製品のすべてに体幹重心安定効果※（特許取得済）、リラクゼーション効果※（特許出願中）、そして一般医療機器に登録されている複合機能技術「スパオールⓇ」がふんだんに導入されています。<br><br>

                「コロバニィⓇ」は長い人生を健康で幸せに過ごしていくために何ができるのかを考えます。
                </p>
                <p class="des_02">※特許第6802940号　出願特許2021-212987</p>
              </div>
          </div>
          <div class="img-wrap">
            <a href="./recovery.html" class="img-wrap__inner">
              <figure>
                <img src="./assets/img/top/concept_01.jpg" alt="">
              </figure>
              <p>コロバニィⓇリカバリーについてもっと見る</p>
            </a>
            <a href="./active.html" class="img-wrap__inner">
              <figure>
                <img src="./assets/img/top/concept_02.jpg" alt="">
              </figure>
              <p>コロバニィⓇアクティブについてもっと見る</p>
            </a>
          </div>
      </div>
    </section>

    <section class="product-wrap">
      <div class="title-common__01 cnt-in-center wow fadeInUp">
        <p class="en"><span>P</span>roducts</p>
        <p class="jp">製品案内</p>
      </div>
      <div class="product-wrap__inner first">
          <p class="pos__inner">RECOVERY</p>
          <div class="cnt-out-left">
            <div class="section01">
              <img src="./assets/img/top/product_main_01.jpg" alt="">
              <div class="section01__content">
                <p class="des_01">コロバニィⓇリカバリー</p>
                <p class="des_02">
                  「コロバニィⓇリカバリー」は、休養＆睡眠時に向けたウェア＆アイテムです。<br>
                  自律神経を副交感神経優位に導くように調整された微弱電磁波が神経の乱れを整え、より良い休養をサポートします（スパオールⓇリラックス加工）。<br>
                  疲労回復には身体を休めるだけでなく、たくさん働いて傷ついた中枢神経のケアが重要であることに着目して開発された当シリーズは、スポーツ後のリカバリーはもちろん、デスクワークのように身体を使っていないのにクタクタになってしまうといった、脳や神経の疲労に特に有効です。
                </p>
                <a href="./recovery.html" class="btn-link">コロバニィⓇリカバリーについてもっと見る</a>
              </div>
            </div>
          </div>
          <div class="cnt-out-right">
            <div class="section02">
              <div class="section02__inner">
                <p class="__title">活用シーン</p>
                <div class="gallery-wrap">
                  <div class="gallery-wrap__inner">
                    <img src="./assets/img/top/product_01.jpg" alt="">
                    <p class="des_01">睡眠される時に</p>
                    <p class="des_02">寝つきが悪い、夜中に何度も目が覚める、朝早く目が覚めてしまう、朝なかなか起きられない、昼間に眠くなってしまう…</p>
                  </div>
                  <div class="gallery-wrap__inner">
                    <img src="./assets/img/top/product_02.jpg" alt="">
                    <p class="des_01">くつろぎの時間に</p>
                    <p class="des_02">おうち時間に、散歩タイムに、テレビを見ながら…</p>
                  </div>
                  <div class="gallery-wrap__inner">
                    <img src="./assets/img/top/product_03.jpg" alt="">
                    <p class="des_01">スポーツの後に</p>
                    <p class="des_02">疲れが抜けない、筋肉痛が取れにくい…</p>
                  </div>
                </div>
                <div class="__content">
                  <div class="txt__inner">
                    <h4>一般医療機器スパオールⓇ「肩こり解消Tシャツ」</h4>
                    <img class="is-sp" src="./assets/img/top/product_04.jpg" alt="">
                    <p class="des_01">温泉鉱石＆オーガニック炭の遠赤外線効果<br>
                      一般医療機器スパオールⓇ「肩こり解消Tシャツ」は血流を促進させるスパオールⓇ技術を採用した、リカバリーウェアで血流促進による筋肉痛、神経痛の緩和、疲労回復など様々な効果が期待できます。「肩こり解消Tシャツ」はアクティブに日々を過ごす方の身体を深部からケアします。</p>
                    <h5>効果・効能</h5>
                    <p class="des_02">医療機器ウェアで全身健康に！「肩こり解消Tシャツ」は以下のような効果効能が期待できます！</p>
                    <div class="flex__inner">
                      <ul>
                        <li><p>１　血流を改善します</p></li>
                        <li><p>２　冷えを取ります</p></li>
                        <li><p>３　コリを取ります</p></li>
                        <li><p>４　むくみを取ります</p></li>
                      </ul>
                      <ul>
                        <li><p>５　胃腸の働きを活発化させます</p></li>
                        <li><p>６　疲労回復</p></li>
                        <li><p>７　筋肉痛、神経痛の緩和</p></li>
                        <li><p>８　イライラやストレスの軽減</p></li>
                      </ul>
                    </div>
                  </div>
                  <div class="img__inner">
                    <img src="./assets/img/top/product_04.jpg" alt="">
                  </div>
                </div>
                <a href="./recovery.html" class="btn-link">コロバニィⓇリカバリーについてもっと見る</a>
              </div>
            </div>
          </div>
      </div>
      <div class="product-wrap__inner second">
        <p class="pos__inner">ACTIVE</p>
        <div class="cnt-out-left">
          <div class="section01">
            <img src="./assets/img/top/product_main_02.jpg" alt="">
            <div class="section01__content">
              <p class="des_01">コロバニィⓇアクティブ</p>
              <p class="des_02">
                「コロバニィⓇアクティブ」は運動時＆活動時に向けたウェア＆アイテムです。<br>
                そのためコロバニィⓇアクティブには、スパオールⓇアクティブ技術が導入されています。<br>
                調整された微弱電磁波で神経をコンディショニングし、情報伝達をスムーズにする技術がスパオールⓇアクティブ技術です。アスリートの跳ぶ、走る、投げるなど、瞬発力と反射を要求される動きをサポートするとともに、特許を取得した重心安定効果で体幹を強化します。<br>
                こうした機能はアスリートだけでなく、高齢者や歩き仕事、立ち仕事の方にも効果的です。重心安定は深刻な転倒リスクを軽減し、体幹強化は歩行時のバランスを整え、疲労を軽減します。
              </p>
              <a href="./active.html" class="btn-link">コロバニィⓇアクティブについてもっと見る</a>
            </div>
          </div>
        </div>
        <div class="cnt-out-right">
          <div class="section02">
            <div class="section02__inner">
              <p class="__title">活用シーン</p>
              <div class="gallery-wrap">
                <div class="gallery-wrap__inner">
                  <img src="./assets/img/top/product_05.jpg" alt="">
                  <p class="des_01">スポーツ時に</p>
                  <p class="des_02">筋肉の可動域を広げたい、パフォーマンスを上げたい全ての競技のアスリートに、趣味でスポーツを行う方に、釣りや登山などに</p>
                </div>
                <div class="gallery-wrap__inner">
                  <img src="./assets/img/top/product_06.jpg" alt="">
                  <p class="des_01">カラダを動かすお仕事に</p>
                  <p class="des_02">歩き仕事の多い方運送業、宅配業、介護士、看護師、農業、林業、漁業などあらゆる就業者に</p>
                </div>
                <div class="gallery-wrap__inner">
                  <img src="./assets/img/top/product_07.jpg" alt="">
                  <p class="des_01">シニア高齢者に</p>
                  <p class="des_02">いつまでも元気にハツラツと生きていきたいシニアや高齢者に</p>
                </div>
              </div>
              <a href="./active.html" class="btn-link">コロバニィⓇアクティブについてもっと見る</a>
            </div>
          </div>
        </div>
    </div>
    </section>

    <section class="about-wrap">
      <div class="cnt-in-center">
        <div class="title-common__01 wow fadeInUp">
          <p class="en"><span>A</span>bout  </p>
          <p class="jp">コロバニィⓇについて</p>
        </div>
        <div class="about-wrap__inner">
          <div class="__title">
            <p>疲労回復インストラクターコメント</p>
          </div>
          <div class="__content pb-60">
            <div class="__content__first">
              <img src="./assets/img/top/about_01.jpg" alt="">
              <h6>株式会社ナチュラルアビリティ代表 <br>
                小池正樹氏</h6>
              <p class="des_02">
                湯治場の空間環境に着目し、微弱電磁波による刺激で神経伝達を向上させる技術を開発。<br>
                幼少期に高齢者に衝突、転倒させてしまうことで寝たきりにさせてしまった経験を持ち、高齢者の転倒防止技術を目的に技術開発を行い、神経コンディショニング技術「スパオール」を確立。基盤となる素材やその使用法などを提供している。
              </p>
            </div>
            <div class="__content__second">
              <h5>コロバニィⓇの着用で<br class="is-sp">神経コンディショニングを行い<br>
                脳疲労の回復を促す</h5>
              <p class="des_03">
                バタバタと一日中仕事をするとぐったりと疲れてしまいますよね。それがトラブル対応やクレーム処理だったりするとなおさらです。でも、実際に走り回るよりは電話などでの作業が多かったりしませんか？このような、身体を使わないのにぐったりと疲れてしまう、というのが現代人に多いタイプの疲労、「脳疲労」といわれるものです。このタイプの疲労は身体を休めることでは回復しません。そもそも身体は疲れていないのですから。<br><br>
                脳疲労は主に自律神経を含む中枢神経が活性酸素によって傷つけられることで発生します。神経がダメージを受けるとファティーグ・ファクターという疲労物質が分泌され「傷ついているよ！休ませて！」という信号を発します。これによって疲労を感じるというのが脳疲労のメカニズムです。そのため、この疲労物質を中和してまずは疲労感を取り除き、リラックスした状態で神経の回復を促すことが有効な対策となります。<br><br>
                神経の回復に必要なのは、自律神経が鎮静状態に保たれる時間です。興奮状態の神経は様々な活動を行うので、その都度、酸素を消費し、残滓となる活性酸素を生成します。まずは神経を鎮めて活性酸素の生成を止め、代謝によって排出されるのを待ちます。しかし、興奮状態の神経はなかなか鎮静してはくれません。交感神経優位から副交感神経優位への切り替えがなかなかスムーズにいかないのです。<br><br>
                この手助けをするのが「神経コンディショニング」です。乱れた神経に適度な刺激を与えて、コンディションを整える、これが『スパオールⓇ』と名付けられた技術です。休むべき時にきちんと休めるというのは、「休め」という命令が神経の隅々まで届くということです。乱れた神経にはこの命令が届きにくくなっているので、そこを整えてあげる技術であると理解していただけたら良いと思います。<br><br>
                『コロバニィⓇ』にはこのスパオール技術がふんだんに投入されています。着用後数十秒で脳波に変化が現れ、鎮静化していく様子が見られます。脳疲労には神経を整えること。そのための神経コンディショニング技術です。
              </p>
            </div>
          </div>
          <div class="__title">
            <p>『コロバニィⓇ』ユーザーの声</p>
          </div>
          <div class="__content outline">
            <div class="__content__first">
              <img src="./assets/img/top/about_02.jpg" alt="">
              <h6>鈴木 佑輔（すずき ゆうすけ）さん</h6>
              <p class="des_01">長野県松本市</p>
              <p class="des_02">
                2010年～2014年ジャパンクラシックベンチプレス選手権４連覇<br>
                2013年～2015年、2017〜2019年アジアクラシックベンチプレス選手権優勝<br>
                2018年～2019年世界クラシックベンチプレス優勝66㎏級ノーギアベンチプレス日本記録（190.5㎏）・アジア記録（175㎏）83㎏級元世界記録（216.5㎏）世界記録（211㎏）保持。公式大会の自己ベスト記録は222.5㎏。
              </p>
            </div>
            <div class="__content__second">
              <h5>自宅でも練習中でも<br>
                コロバニィⓇを着用しています</h5>
              <p class="des_03">
                <b>自宅にて</b><br>
                毎日の練習で身体を酷使しています。それに加えて30代後半ということもあり、回復の速度は20代に比べれば格段に落ちていることを実感していますが、それ故に少しの変化でも敏感に反応するようになりました。普通のTシャツに比べ、就寝時に着用した結果、朝起きたときの身体のだるさは明らかに軽減したことを実感できました。<br>
                肌触りも良く、化学繊維を着用し続ける際に起こる肌の乾燥・若干の痒みも出ませんので、常に着ていられる感覚です。
              </p>
              <p class="des_03">
                <b>練習中</b><br>
                特にトレーニング開始前のストレッチの場面で、肩周りの可動域は非着用時よりも大きく取れることに加え、身体が温まって準備が整うまでの時間短縮になっています。<br>
                また、練習後に着替えることでオン・オフの上手な切り替えに繋がっていると感じます。<br>
                ベンチプレス自体は練習用のウェアでやっていますが、今度はウォームアップまで着用してやって比較していきたいと思います。
              </p>
            </div>
          </div>
          <%- include('../includes/_btnmore') %> 
          <button class="btn-more" href="">
            <p class="btn-more__txt">ユーザーの声をもっと見る</p>
            <img src="./assets/img/common/arrow_down.svg" alt="">
          </button>
          <div class="review__content">
            <h4>都立駒込病院脳神経外科部長 <br class="is-sp">篠浦伸禎医学博士による監修</h4>
            <div class="__inner">
              <div class="__inner__img">
                <img src="./assets/img/top/about_13.jpg" alt="">
              </div>
              <div class="__inner__txt">
                <p class="des_01">「コロバニィ」は、脳や神経の専門医である篠浦博士監修のもと、製品開発を行っています。コロバニィ製品による自律神経の変化や、その中枢である視床下部の状態などを確認しつつ、医学的見地から様々なアドバイスを頂いています。</p>
                <img class="is-sp" src="./assets/img/top/about_13.jpg" alt="">
                <h6>都立駒込病院脳神経外科部長 <br class="is-sp">篠浦伸禎医学博士</h6>
                <p class="des_02">
                  略歴<br>
                  1958年生まれ。東京大学医学部卒業後、富士脳障害研究所、東京大学医学部附属病院、茨城県立中央病院、都立荏原病院、国立国際医療センターにて脳神経外科医師として勤務。シンシナティ大学分子生物学部に留学、帰国後、国立国際医療センターなどで脳神経外科医として勤務。
                </p>
              </div>
            </div>
          </div>
          <div class="__title">
            <p>「コロバニィⓇ」の由来</p>
          </div>
          <div class="__content">
            <p class="des_04">
              2020年10月、ある東京のベンチャー企業が体幹・重心安定に効果を発揮する機能素材「スパオールⓇ」を開発し特許（特許第6802940）を取得しました。わたしたちはこの素材に出会い、シニアや高齢者の転倒事故の防止にすこしでも役立つ製品を生み出そうと考えました。<br><br>

              スパオールの技術でしっかりと体幹や重心を安定させることで、<br>
              「転ばないように」してもらいたい。という思いを込めて「コロバニィ」とネーミングしたのです。<br><br>

              どなたにも使って頂きやすいものという願いを込め、最初に生み出された製品が「コロバニィ　リストバンド」です。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="faq-wrap">
      <div class="cnt-in-center">
        <div class="title-common__01 wow fadeInUp">
          <p class="en"><span>F</span>aq</p>
          <p class="jp">「コロバニィⓇ」よくある質問</p>
        </div>
        <div class="faq-wrap__inner">
          <div class="accordion__inner">
            <button class="accordion">
              一般医療機器とは何ですか？
            </button>
            <div class="panel">
              <p>「医薬品、医療機器等の品質、有効性及び安全性の確保等に関する法律（医薬品医療機器等法）」に基づく規制の下で登録・製造・販売されている製品が「医療機器」とされています。そのうち、生体へのリスクが極めて低い製品の区分が「一般医療機器」です。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              洗濯しても効果に変化はありませんか？
            </button>
            <div class="panel">
              <p>通常の洗濯であれば効果に変化は生じません。プリントされている複合鉱石粉が剥落すると効果が減じますが、高い洗濯耐性をもつ加工が施されているので、強く擦るなど、製品自体が痛むような洗濯をしない限り、ほとんど剥落の心配はありません。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              スパオールⓇ技術とは何ですか？
            </button>
            <div class="panel">
              <p>微弱な電磁波を発する数種類の温泉鉱石類を、オーガニック穀物炭を基材として配合した鉱石粉を応用した技術です。コントロールされた微弱な電磁波と、オーガニック炭の輻射性能が神経系と血流に作用し、様々な効果を発揮します。<br>
                詳しくはこちらをご覧ください。<br>
                スパオール研究協会　<a target="_blank" href="https://spaore.com/">https://spaore.com/</a></p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              高齢者や子供は安全ですか？
            </button>
            <div class="panel">
              <p>安全です。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              下着の上に着用してもいいですか？
            </button>
            <div class="panel">
              <p>結構です。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              ずっと着用していてもいいですか？
            </button>
            <div class="panel">
              <p>結構です。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              温熱効果があるので夏は暑いですか？
            </button>
            <div class="panel">
              <p>感じ方に個人差がありますが、製品自体が加熱されるわけではないので、暑くなりすぎることはありません。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              温熱効果とドライTシャツの機能は相殺されませんか？
            </button>
            <div class="panel">
              <p>相殺されることはありません、むしろ相乗効果があります。ドライTシャツは速やかな吸湿・乾燥によって着心地をよくするもので、体表面で作用しています。一方、スパオールⓇ技術の温熱効果は血流を促進するもので、体の奥深くで作用しています。作用する場所が異なるため効果が相殺されることはありませんし、温熱効果で発汗があってもドライTシャツの機能でドライな着心地が保たれるので、相乗効果があるといえます。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              効果が続く期間はどのくらいですか？
            </button>
            <div class="panel">
              <p>リラクゼーション効果は約2年間。血流促進効果と消臭効果は、Tシャツ自体の寿命が尽きるまで継続します。</p>
            </div>
          </div>
          <div class="accordion__inner">
            <button class="accordion">
              一般医療機器の方と通常のコロバニィⓇリカバリーは何が違うのですか？
            </button>
            <div class="panel">
              <p>一般医療機器の方は特殊部分などに使われているスパオールⓇ技術のレシピを強化することでより効果が高まるように調整されています。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="shop-wrap">
      <div class="cnt-in-center">
        <div class="shop-wrap__inner">
          <div class="shop-wrap__inner_first">
            <div class="title-common__01 wow fadeInUp">
              <p class="en"><span>S</span>hop</p>
              <p class="jp">コロバニィⓇ販売店リスト</p>
            </div>
            <p class="des_01">偽物にご注意下さい。</p>
            <p class="des_02">
              「コロバニィⓇ」は、スパオール研究協会から正規品として認定を受けています。<br>
              類似品にご注意下さい。<br>
              コロバニィは以下の店舗にて販売されています。
            </p>
            <img class="is-sp" src="./assets/img/top/shop_01.jpg" alt="">
            <a href="./shop.html" class="btn-link">取り扱い店舗一覧へ</a>
          </div>
          <div class="shop-wrap__inner_second">
            <img src="./assets/img/top/shop_01.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <%- include('../includes/_contact') %> 
</main>
<%- include('../includes/_footer'); %>