<%_
  TITLE = 'コロバニィ_リカバリー';
  IS_INDEX = true; 
  DESCRIPTION = '';
  KEYWORDS = '';
  ORIGINALCSS = 'other';
_%>
<%- include('../includes/_header') %>
<main id="other">
    <section class="cnt-in">
        <%- include('../includes/_breadcrumb', {thispage: 'コロバニィⓇリカバリー'}) %>
    </section> 
    <section class="cnt-in-center">
        <div class="mv-wrap__01">
            <div class="mv-wrap__01_txt">
                <h5>RECOVERY</h5>
                <h2>コロバニィⓇリカバリー</h2>
                <div class="mv-wrap__01_img is-sp">
                    <img src="./assets/img/recovery/mv.jpg" alt="">
                </div>
                <p>コロバニィⓇリカバリーとは<br>
                    休養＆睡眠時に着用する<br class="is-sp">ウェア＆アイテムです</p>
            </div>
            <div class="mv-wrap__01_img is-pc">
                <img src="./assets/img/recovery/mv.jpg" alt="">
            </div>
            <p class="pos__inner">RECOVERY</p>
        </div>
    </section>

    <section class="cnt-in-center">
        <div class="fw-01">
            <div class="fw-01__img">
                <img class="retina" src="./assets/img/recovery/recovery_01.png" alt="">
            </div>
            <div class="fw-01__txt">
                <p>
                    食事・運動・休養＆睡眠は健康で長生きするために大切な3要素です。<br><br>

                    食事・運動が十分でも休養＆睡眠がおろそかになっていると健康とは言えません。休養＆睡眠は健康維持にはとても大切なものです。<br><br>
                    
                    わたしたち『コロバニィ・リカバリー』開発メンバーは、この休養＆睡眠に着目しました。<br><br>

                    オリジナルの特許技術を組み込んだ『コロバニィ・リカバリー』は、皆様の休養＆睡眠のクオリティを高め、生活全体をより充実したものへと変えていきます。
                </p>
            </div>
        </div>
    </section>

    <section class="inter-link-wrap">
        <div class="cnt-in-center">
            <div class="inter-link-wrap__inner">
                <a href="#recovery_01">メカニズム</a>
                <a href="#recovery_02">測定結果</a>
                <a href="#recovery_03">活用シーン</a>
                <a href="#recovery_04">リカバリーが必要な理由</a>
                <a href="#recovery_05">製品一覧</a>
                <a href="#recovery_06">一般医療機器スパオール</a>
            </div>
        </div>
    </section>

    <section id="recovery_01" class="recovery-wrap first">
        <div class="cnt-in-center">
            <div class="title-order recovery">
                <p class="num">01</p>
                <p class="tlt">コロバニィⓇリカバリーのメカニズム</p>
            </div>
            <div class="layout-2-coloum">
                <div class="layout-2-coloum__img">
                    <img src="./assets/img/recovery/recovery_02.jpg" alt="">
                </div>
                <div class="layout-2-coloum__txt">
                    <p class="des_01">
                        コロバニィ・リカバリーには、特許を持つ神経コンディショニング技術『スパオール🄬リラックス』が投入されています。<br>
                        神経が乱れていると自律神経の切り替えがうまくいかず、副交感神経を優位にすることが難しくなります。その結果、中枢神経はいつまでも忙しく働き続け、疲労の回復を妨げてしまうのです。<br><br><br>


                        『スパオール🄬』は、微弱な電磁波が神経にもたらす刺激をコントロールする技術であり、リカバリー用に調整された『スパオール🄬リラックス』は、特に視神経系とベータ波の鎮静を促します。視神経系の鎮静は眼精疲労や、それに関係する疲労の緩解に繋がり、ベータ波の鎮静化は副交感神経優位になっていることを示し、中枢神経系の休息と、活発な活動によって傷ついた神経の修復を促します。<br><br>

                        じっとしているだけでは「身体」は休息できても「心（神経）」は休めていません。<span class="bg-yellow">神経をコンディショニングすることで、「心身ともに」質の良い休養を得る</span>ことができるのです。
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="recovery_02" class="recovery-wrap second">
        <div class="cnt-in-center">
            <div class="title-order recovery">
                <p class="num">02</p>
                <p class="tlt">コロバニィⓇリカバリーの測定結果</p>
            </div>
            <div class="layout-2-coloum reverse">
                <div class="layout-2-coloum__img">
                    <img class="retina" src="./assets/img/recovery/recovery_03.jpg" alt="">
                </div>
                <div class="layout-2-coloum__txt">
                    <p class="des_01">
                        スパオールⓇリラックス技術による<br>
                        リラクゼーション効果性能測定結果<br class="is-sp">（脳波測定）
                    </p>
                    <div class="__content">
                        <p class="des_02">測定の目的</p>
                        <p class="des_03">スパオールⓇリラックス技術導入の布を装着した際の脳波を測定、リラクゼーション効果を確認する。</p>
                    </div>
                    <div class="__content">
                        <p class="des_02">測定の結果</p>
                        <p class="des_03">いずれの試作品でも装着時にベータ波、眼球振動の抑制を確認。各製品にスパオールⓇの<span class="bg-yellow">リラクゼーション効果が付与される</span>ことが確認されました。</p>
                    </div>
                </div>
            </div>
            <div class="layout-2-coloum reverse">
                <div class="layout-2-coloum__img">
                    <img class="retina" src="./assets/img/recovery/recovery_04.jpg" alt="">
                    <img class="retina img__inner" src="./assets/img/recovery/recovery_05.jpg" alt="">
                </div>
                <div class="layout-2-coloum__txt">
                    <p class="des_01">スパオールⓇ技術による血流促進効果性能測定結果
                    </p>
                    <div class="__content">
                        <p class="des_02">測定の目的</p>
                        <p class="des_03">スパオールⓇ技術が導入された布を装着した際の体温を測定し、装着時の体温が高くなることを確認する。血流促進効果があることを証明する。</p>
                    </div>
                    <div class="__content">
                        <p class="des_02">測定の結果</p>
                        <p class="des_03">
                            スパオールⓇ技術が導入された布は体温が上昇することを確認。<br>
                            <span class="bg-yellow">血流促進効果がある</span>ことが証明されました。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recovery_03" class="recovery-wrap third">
        <div class="cnt-in-center">
            <div class="title-order recovery">
                <p class="num">03</p>
                <p class="tlt">活用シーン</p>
            </div>
            <div class="gallery-wrap">
                <div class="gallery-wrap__inner">
                  <img src="./assets/img/top/product_01.jpg" alt="">
                  <p class="des_01">睡眠される時に</p>
                  <p class="des_02">寝つきが悪い、夜中に何度も目が覚める、朝早く目が覚めてしまう、朝なかなか起きられない、昼間に眠くなってしまう…</p>
                </div>
                <div class="gallery-wrap__inner">
                  <img src="./assets/img/top/product_02.jpg" alt="">
                  <p class="des_01">くつろぎの時間に</p>
                  <p class="des_02">おうち時間に、散歩タイムに、テレビを見ながら…</p>
                </div>
                <div class="gallery-wrap__inner">
                  <img src="./assets/img/top/product_03.jpg" alt="">
                  <p class="des_01">スポーツの後に</p>
                  <p class="des_02">疲れが抜けない、筋肉痛が取れにくい…</p>
                </div>
            </div>
        </div>
    </section>

    <section id="recovery_04" class="recovery-wrap fourth">
        <div class="cnt-in-center">
            <div class="title-order recovery">
                <p class="num">04</p>
                <p class="tlt">リカバリーが必要な理由</p>
            </div>
            <div class="layout-2-coloum reverse">
                <div class="layout-2-coloum__img">
                    <img class="retina is-pc" src="./assets/img/recovery/recovery_06.jpg" alt="">
                    <img class="img__inner retina" src="./assets/img/recovery/recovery_07.jpg" alt="">
                </div>
                <div class="layout-2-coloum__txt">
                    <p class="des_01">多くの人が疲労感を抱えています</p>
                    <p class="des_02">ある企業の調査によると、65％の人が慢性的な疲れ・疲労を感じています。<br>
                        またそのうちの多くの人々が半年以上の長期にわたる疲労状態であることが報告されています。</p>
                    <p class="des_03">
                        一般的に「疲労」というと身体を酷使して疲れている「肉体的疲労」がイメージされますが、実は疲労には『脳疲労』『精神的疲労』『肉体的疲労』の3つがあり、<span class="bg-yellow">それぞれの疲労に適した回復＝リカバリーが必要</span>とされています。
                    </p>
                    <img class="retina is-sp" src="./assets/img/recovery/recovery_06.jpg" alt="">
                    <div class="__content">
                        <div class="__content__inner">
                            <p class="des_04">脳疲労</p>
                            <p class="des_05">脳や視神経の緊張状態に起因する中枢神経の疲れ</p>
                        </div>
                        <div class="__content__inner">
                            <p class="des_04">精神的疲労</p>
                            <p class="des_05">仕事、人間関係、悩みによるストレスに起因する心の疲れ</p>
                        </div>
                        <div class="__content__inner">
                            <p class="des_04">肉体的疲労</p>
                            <p class="des_05">運動によるエネルギー不足と乳酸の蓄積に起因する体の疲れ</p>
                        </div>
                    </div>
                    <p class="des_06">
                        この中で肉体的疲労は十分な栄養を摂り、安静にしていることで回復しますが、その他の疲労はそれだけでは十分に回復することが困難です。<br><br>

                        例えば、脳疲労は活発な活動によって生じる活性酸素によって中枢神経が傷つくことが原因のため、その回復には自律神経を副交感神経優位に保ち、且つ、たくさんの仕事をさせない時間が求められる、といった具合です。<br><br>

                        不十分なリカバリーはパフォーマンスの低下を引き起こし、適切なリカバリーは良いパフォーマンスを発揮することがわかっています。<br>
                        大切なお仕事や学校で最適なパフォーマンスを発揮することがでない、といったことにならないよう睡眠と休養のあり方を見直し、肉体だけでなく、脳や神経を回復させることを心掛けたいものです。充実した日常生活のためのヒントがここにあります。
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="recovery_05" class="recovery-wrap fifth">
        <div class="cnt-in-center">
            <div class="title-order recovery">
                <p class="num">05</p>
                <p class="tlt">製品一覧</p>
            </div>
            <div class="gallery-wrap">
                <div class="gallery-wrap__inner">
                    <img src="./assets/img/recovery/recovery_14.png" alt="">
                    <p class="des_01">【一般医療機器】スパオール肩こり解消<br>
                        Tシャツスーパーデオドラント
                        </p>
                    <p class="des_02">-CR001-</p>
                </div>
                <div class="gallery-wrap__inner">
                    <img src="./assets/img/recovery/recovery_15.png" alt="">
                    <p class="des_01">抗菌防臭ドライリカバリーTシャツ</p>
                    <p class="des_02">-CR103-</p>
                </div>
                <div class="gallery-wrap__inner">
                    <img src="./assets/img/recovery/recovery_16.png" alt="">
                    <p class="des_01">抗菌防臭コットンリカバリーTシャツ</p>
                    <p class="des_02">-CR103-</p>
                </div>
            </div>
        </div>
    </section>

    <section id="recovery_06" class="recovery-wrap sixth">
        <div class="cnt-in-center">
            <div class="title-order recovery">
                <p class="num">06</p>
                <p class="tlt">一般医療機器スパオール</p>
            </div>
            <div class="layout-2-coloum">
                <div class="layout-2-coloum__img">
                    <img src="./assets/img/recovery/recovery_13.jpg" alt="">
                </div>
                <div class="layout-2-coloum__txt">
                    <p class="des_01">一般医療機器スパオール<br class="is-sp">「肩こり解消Tシャツ」とは</p>
                    <p class="des_02">
                        温泉鉱石＆オーガニック炭の遠赤外線効果<br>
                        一般医療機器スパオール「肩こり解消Tシャツ」は血流を促進させるスパオール技術を採用したリカバリーウェアで、<span class="bg-yellow">血流促進による疲労回復など様々な効果</span>が期待できます。「一般医療機器コロバニィ」はアクティブに日々を過ごす方の身体をケアします。
                    </p>
                </div>
            </div>
            <div class="__content">
                <div class="__inner">
                    <div class="__inner__txt">
                        <p class="des_03">血流促進のメカニズム</p>
                        <img class="is-sp" src="./assets/img/recovery/recovery_12.jpg" alt="">
                        <p class="des_04">
                            太古より人々の健康に寄与してきた温泉の鉱石類とオーガニック穀物炭を配合した特殊素材を配合するスパオール技術を各種ウェアに応用しました。<br>
                            それほど熱くなくても温泉に浸かった後はなぜか体がポカポカします。それと同じように、着用することでじんわりと暖かくなり血流を促進することで、様々な効果が期待できます。
                        </p>
                    </div>
                    <div class="__inner__img">
                        <img src="./assets/img/recovery/recovery_12.jpg" alt="">
                    </div>
                </div>
                <div class="__inner_03">
                    <div class="flex-wrap">
                        <div class="inner">
                            <div class="inner_img">
                                <img src="./assets/img/recovery/recovery_09.jpg" alt="">
                            </div>
                            <div class="inner_txt">
                                <p class="des_01">１特殊素材（複合された温泉鉱石）が体熱を吸収します</p>
                            </div>
                            <p class="des_02">
                                人体からは常に熱が放射されています。特殊素材に含まれる天然鉱石には、熱を吸収する働きもあり、肌に当たることで体熱を吸収します。
                            </p>
                        </div>
                        <div class="inner">
                            <div class="inner_img">
                                <img src="./assets/img/recovery/recovery_10.jpg" alt="">
                            </div>
                            <div class="inner_txt">
                                <p class="des_01">２赤外線として熱を放出します</p>
                            </div>
                            <p class="des_02">
                                天然鉱石から発せられる微弱電磁波とともに、吸収した熱が赤外線として特殊部分から放出されます。遠赤外線なので、優しくじわじわと体内の奥深くまで浸透していき、身体を中から温めます。
                            </p>
                        </div>
                        <div class="inner">
                            <div class="inner_img">
                                <img src="./assets/img/recovery/recovery_11.jpg" alt="">
                            </div>
                            <div class="inner_txt">
                                <p class="des_01">３血行が良くなり疲労回復が期待されます</p>
                            </div>
                            <p class="des_02">
                                温熱効果により血流が良くなり、さらに身体が温まります。筋肉もゆるんで疲れや痛みが取れることが期待されます。また微弱電磁波が神経系に作用し、副交感神経を優位にします。
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <p class="des_08">一般医療機器の安全に関するご注意</p>
                <p class="des_09">
                    禁忌・禁止<br>
                    以下の部位には、使用しないでください。<br>
                    (1)感染部位<br>
                    [血管拡張と血流増加が、炎症、かゆみ・かぶれを悪化させる恐れがあります。]<br>
                    (2)出血部位または出血の可能性がある部位<br>
                    [血管拡張が出血の増大または出血を引き起こす恐れがあります。]<br>
                    (3)その他医師が不適当と判断した部位<br><br>

                    使用上の注意<br>
                    1.治療中の方や下記に該当する場合は、必ず医師または専門家と相談の上ご使用ください。<br>
                    (1)妊娠初期の不安定期または出産直後の方<br>
                    (2)糖尿病等による高度な末梢循環障害および知覚障害のある方<br>
                    (3)急性損傷や急性炎症がある方<br>
                    (4)血栓性静脈炎の疑いのある部位<br>
                    (5)悪性腫瘍組織またはその周辺の部位<br>
                    (6)局所性刺激製剤を使用した部位<br>
                    (7)重度の浮腫がある方<br>
                    (8)体温が38℃以上の方<br>
                    (9)血行促進作用のある薬を服用している場合<br>
                    2.他の治療器と同時に使用しないでください。<br>
                    3.使用中に異常を感じた場合には、直ちに使用を中止してください。<br>
                    4.患部に発疹、かゆみ、あかみなどが現れた場合は、直ちに使用を中止し、医師に相談してください。<br>
                    5.効能の現れ方には個人差があります。しばらく使用して効果が現れない場合は、使用を中止してください。なお、衣料品として使用しても問題はありません。<br>
                    6.本品を改造しないでください。<br><br>

                    お取扱いのご注意<br>
                    お手入れの方法は取扱い表示にしたがってください。<br><br>

                    製造販売元<br>
                    株式会社シーアンドケイ<br><br>

                    販売元<br>
                    株式会社アレス<br>
                    078-335-5558<br><br>

                    &lt;お問い合わせ先&gt;<br>
                    株式会社アレスウェルネス事業部<br>
                    078-335-5558<br>
                    営業時間 9:30~17:00(土・日・祝日・年末年始をのぞく)<br><br>

                    販売名<br>
                    一般医療機器スパオール<br>
                    製造販売届出番号<br>
                    13BX1031500000３<br>
                    類別及び一般名称等<br>
                    機械器具12 理学診療用器具/一般医療機器 温熱用パック(37240010)
                </p>
        </div>
    </section>

    <%- include('../includes/_contact') %> 
</main>
<%- include('../includes/_footer'); %>