<%_
  TITLE = '取扱店 一覧';
  IS_INDEX = true; 
  DESCRIPTION = '';
  KEYWORDS = '';
  ORIGINALCSS = 'other';
_%>
<%- include('../includes/_header') %>
<main id="other">
    <section class="cnt-in">
        <%- include('../includes/_breadcrumb', {thispage: '取扱店 一覧 '}) %>
    </section> 
    <section class="cnt-in-center">
        <div class="mv-wrap__02">
            <h6>Shop</h6>
            <h2>取扱店 一覧 </h2>
            <p>
                「コロバニィⓇ」は、スパオール研究協会から正規品として認定を受けています。<br>
                類似品にご注意下さい。<br>
                コロバニィは以下の店舗にて販売されています。
            </p>
            <p class="pos__inner">Shop</p>
        </div>
    </section>

    <section class="cnt-in-center">
        <div class="shop-wrap">
            <h3>実店舗</h3>
            <div class="shop-wrap__inner">
                <div class="shop-wrap__inner_01">
                    <p class="des_01">店舗名</p>
                </div>
                <div class="shop-wrap__inner_02">
                    <p class="des_01">取り扱いカテゴリ</p>
                </div>
                <div class="shop-wrap__inner_03">
                    <p class="des_01">店舗情報</p>
                </div>
            </div>
            <% for(var i=0; i< 2; i++){ %> 
                <div class="shop-wrap__inner">
                    <div class="shop-wrap__inner_01">
                        <p class="des_02">店舗名が入ります店舗名が入ります店舗名が入ります店舗名が入ります</p>
                    </div>
                    <div class="shop-wrap__inner_02">
                        <p class="cat_rec">リカバリー</p>
                        <p class="cat_act">アクティブ</p>
                    </div>
                    <div class="shop-wrap__inner_03">
                        <p class="des_03">店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります</p>
                    </div>
                </div>
                <div class="shop-wrap__inner">
                    <div class="shop-wrap__inner_01">
                        <p class="des_02">店舗名が入ります店舗名が入ります</p>
                    </div>
                    <div class="shop-wrap__inner_02">
                        <p class="cat_rec">リカバリー</p>
                    </div>
                    <div class="shop-wrap__inner_03">
                        <p class="des_03">店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります</p>
                    </div>
                </div>
                <div class="shop-wrap__inner">
                    <div class="shop-wrap__inner_01">
                        <p class="des_02">店舗名が入ります店舗名が入ります</p>
                    </div>
                    <div class="shop-wrap__inner_02">
                        <p class="cat_act">アクティブ</p>
                    </div>
                    <div class="shop-wrap__inner_03">
                        <p class="des_03">店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります</p>
                    </div>
                </div>
            <% } %> 
        </div>
        <div class="shop-wrap">
            <h3>ウェブショップ</h3>
            <div class="shop-wrap__inner">
                <div class="shop-wrap__inner_01">
                    <p class="des_01">店舗名</p>
                </div>
                <div class="shop-wrap__inner_02">
                    <p class="des_01">取り扱いカテゴリ</p>
                </div>
                <div class="shop-wrap__inner_03">
                    <p class="des_01">店舗情報</p>
                </div>
            </div>
            <% for(var i=0; i< 2; i++){ %> 
                <div class="shop-wrap__inner">
                    <div class="shop-wrap__inner_01">
                        <p class="des_02">店舗名が入ります店舗名が入ります店舗名が入ります店舗名が入ります</p>
                    </div>
                    <div class="shop-wrap__inner_02">
                        <p class="cat_rec">リカバリー</p>
                        <p class="cat_act">アクティブ</p>
                    </div>
                    <div class="shop-wrap__inner_03">
                        <p class="des_03">店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります<br><a target="_blank" href="website.sample.com">website.sample.com</a></p>
                    </div>
                </div>
                <div class="shop-wrap__inner">
                    <div class="shop-wrap__inner_01">
                        <p class="des_02">店舗名が入ります店舗名が入ります</p>
                    </div>
                    <div class="shop-wrap__inner_02">
                        <p class="cat_rec">リカバリー</p>
                    </div>
                    <div class="shop-wrap__inner_03">
                        <p class="des_03">店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります<br><a target="_blank" href="website.sample.com">website.sample.com</a></p>
                    </div>
                </div>
                <div class="shop-wrap__inner">
                    <div class="shop-wrap__inner_01">
                        <p class="des_02">店舗名が入ります店舗名が入ります</p>
                    </div>
                    <div class="shop-wrap__inner_02">
                        <p class="cat_act">アクティブ</p>
                    </div>
                    <div class="shop-wrap__inner_03">
                        <p class="des_03">店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります店舗情報が入ります<br><a target="_blank" href="website.sample.com">website.sample.com</a></p>
                    </div>
                </div>
            <% } %> 
        </div>
    </section>

    <%- include('../includes/_contact') %> 
</main>
<%- include('../includes/_footer'); %>